service: serverless-todo
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs14.x
  region: sa-east-1
  stage: api
  useDotenv: true
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1
    NODE_OPTIONS: --enable-source-maps --stack-trace-limit=1000
    MONGODB_URI: ${env:MONGODB_URI}

plugins:
  - serverless-esbuild
  - serverless-offline
  - serverless-dotenv-plugin

package:
  individually: true

custom:
  esbuild:
    bundle: true
    minify: true
    sourcemap: true
    exclude:
      - aws-sdk
    target: node14
    platform: node
    packager: npm

functions:
  hello:
    handler: src/functions/hello.handler
    memorySize: 128
    events:
      - http:
          path: /hello
          method: GET
      - http:
          path: /hello/{name}
          method: GET

  create-todo:
    handler: src/functions/create-todo.handler
    memorySize: 128
    events:
      - http:
          path: /create-todo
          method: POST